.flex-1 {
  flex: 1 1 0%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(28 60 157 / var(--tw-bg-opacity))
}
