.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-8 {
  margin-top: 2rem
}

.mb-12 {
  margin-bottom: 3rem
}

.ml-4 {
  margin-left: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.flex {
  display: flex
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-3xl {
  border-radius: 1.5rem
}

.border-2 {
  border-width: 2px
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-secundary {
  --tw-bg-opacity: 1;
  background-color: rgb(64 100 185 / var(--tw-bg-opacity))
}

.bg-primary-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(6 16 51 / var(--tw-bg-opacity))
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.text-center {
  text-align: center
}

.font-wMedium {
  font-family: WorkSans_500Medium
}

.font-wSemiBold {
  font-family: WorkSans_600SemiBold
}

.font-wRegular {
  font-family: WorkSans_400Regular
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(28 60 157 / var(--tw-text-opacity))
}

.text-secundary-200 {
  --tw-text-opacity: 1;
  color: rgb(164 184 196 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-secundary {
  --tw-text-opacity: 1;
  color: rgb(64 100 185 / var(--tw-text-opacity))
}

.text-primary-700 {
  --tw-text-opacity: 1;
  color: rgb(6 16 51 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}
